<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Sexo</th>
                <th scope="col">Correo electrónico</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of userList;">
                <th scope="row">{{row.id}}</th>
                <td>{{row.name}}</td>
                <td>{{row.age}}</td>
                <td>{{row.gender}}</td>
                <td>{{row.email}}</td>
                <td>
                    <button type="button" class="btn btn-danger" (click)="deleteUser(row.id)">Eliminar</button>
                    <button type="button" class="btn btn-primary ms-2" (click)="editRow(row)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mt-3" *ngIf="isVisible">
    <form (ngSubmit)="editUser()" [formGroup]="editForm">
    
        <div class="container">
            <h1>Editar usuario</h1>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="name">
                        <mat-error *ngIf="name?.errors?.['required']">Ingresa el nombre del usuario</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Edad</mat-label>
                        <input type="number" matInput formControlName="age">
                        <mat-error *ngIf="age?.errors?.['required']">Ingresa la edad</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Género</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option value="Masculino">Masculino</mat-option>
                            <mat-option value="Femenino">Femenino</mat-option>
                        </mat-select>
                        <mat-error *ngIf="gender?.errors?.['required']">Ingresa el género</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Correo electrónico</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="email?.errors?.['required']">Ingresa el correo electrónico</mat-error>
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row justify-content-center mt-3">
                <button mat-raised-button color="primary" class="text-center py-2 w-50">Editar</button>
            </div>
        </div>
    </form>
</div>